{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
   <div class="col-sm-10">
       <h3 class="text-white my-5">About Page</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sapiente recusandae libero dolorum similique labore? Nisi, nobis debitis quas quod sed minima. Sunt perferendis vel est qui commodi nulla dolorum?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas officiis magni cum repudiandae id minima nobis odit facere mollitia culpa obcaecati officia qui at, ullam cumque, voluptatem adipisci. Assumenda deserunt voluptas facere id velit labore pariatur culpa nesciunt distinctio praesentium cum, adipisci recusandae deleniti corporis cupiditate est explicabo dignissimos aliquid natus unde aspernatur ratione illo. Similique tempore omnis magni iusto nihil possimus eveniet ullam inventore unde sint itaque id quae eius nam ea, blanditiis vero. Natus blanditiis repellat, adipisci commodi similique architecto, vero possimus nobis impedit cupiditate a officiis laudantium odit voluptate modi perferendis maxime aliquid iure fugit ab reiciendis?</p>
   </div>         
{% endblock content %}